![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [21]:
import pandas as pd

# Read data
schools = pd.read_csv("schools.csv")

# 1. Best math results (>= 640)
best_math_schools = schools[schools["average_math"] >= 640][["school_name", "average_math"]]
best_math_schools = best_math_schools.sort_values("average_math", ascending=False)

# 2. Top 10 schools based on total SAT
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]
top_10_schools = schools[["school_name", "total_SAT"]].sort_values("total_SAT", ascending=False).head(10)

# 3. Borough with largest std deviation in total SAT
borough_stats = schools.groupby("borough")["total_SAT"].agg(
    num_schools="count", average_SAT="mean", std_SAT="std"
).reset_index()

borough_stats["average_SAT"] = borough_stats["average_SAT"].round(2)
borough_stats["std_SAT"] = borough_stats["std_SAT"].round(2)

largest_std_dev = borough_stats.sort_values("std_SAT", ascending=False).head(1)
largest_std_dev

     borough  num_schools  average_SAT  std_SAT
2  Manhattan           89      1340.13   230.29